// sass-lint:disable nesting-depth
// sass-lint:disable no-vendor-prefixes

$blue: #00f
$grey: #808080
$green: #008000
$red: #f00
$black: #000
$yellow: #ff0
$white: #fff
$primary-color: #1d7874
$brown: #964b00

$hover-color: #0f0 // green INSTEAD OF orange #ffa500 
$border-color: #999
$clicked-row-color: #0f0 // green

*
  color: $black
  font-size: 1em

body
  font-family: monospace, Lucinda Console, sans-serif, Courier New

.click
  cursor: pointer

.hide
  visibility: hidden

.button
  background-color: $white
  border: .2px solid $black
  margin-right: 6px

.input-text
  border: 0
  border-bottom: .1px solid $black
  color: $blue
  font-family: monospace, Lucinda Console, sans-serif, Courier New
  margin-left: .2em
  width: 4em

.input-error
  border: 0
  border-bottom: .1px solid $red
  color: $blue
  font-family: monospace, Lucinda Console, sans-serif, Courier New
  margin-left: .2em
  width: 4em

.select-custom
  border: 0
  border-bottom: 1px solid $black
  color: $blue
  font-family: monospace, Lucinda Console, sans-serif, Courier New
  margin-bottom: 1.5em
  margin-left: .4em

.error
  color: $red
  font-family: monospace, Lucinda Console, sans-serif, Courier New
  font-size: .8em

.required
  color: red

.app
  margin: 1em

  .execute-action
    margin-left: 1em


  .app-view
    display: flex

    div
      flex-grow: 1

      .title
        border-bottom: 1px solid $black
        color: $brown

      .content
        min-width: max-content
        margin-top: 1.8em
        width: 100%

        .cart-item
          margin-bottom: 2em

          .cart-item-actions
            display: flex
            margin-top: .3em

            div
              flex-grow: 1
              max-width: 12em

              .button-add
                color: $blue

              .button-delete
                color: $red

        .config-select
          margin-bottom: 0

        .config-field
          border-bottom: .1px solid $black
          min-width: 8em

        .discount-optional
          max-width: fit-content

        textarea
          resize: none

      .config-actions
        margin-top: 3em

        button
          margin-right: 1.5em

          &.config-abort
            color: $red

          &.config-save
            color: $blue


